@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.HomePage {
  background-image: url("./Images/bg-5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.MuiTable-root {
  background-color: #f0efeb;
}
.MuiPagination-root {
  color: #f0efeb !important;
}
